<!DOCTYPE html>
<html>
    <head>
        <title>My Ride App</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/carpool.css">
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    </head>
    <body id="carpool-project">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{url_for("index")}}">Home</a></li>
                        <li><a href="{{url_for("info")}}">Carpool Tips</a></li>
                        <li><a href="{{url_for("register")}}">Register</a></li>
                        {% if user == None %}
                            <li><a href="{{url_for("login")}}">Login</a></li>
                        {% else %}
                            <li><a href="{{url_for("main_menu")}}">MyCommute</a></li>
                            <li><a href="{{url_for("session_clear")}}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
            {% for message in get_flashed_messages() %}
                <p style="color: #FF0000;"> {{ message }}</p>
            {% endfor %}
            {% if user != None %}
            <div align="right">
                Not '<strong>{{ user }}</strong>'? <a href="/clear_session"> Logout</a>
            </div>
            {% endif %}
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>