{% extends 'base.html' %}
{% block body %}
        <div class="container">
            <form class="signin" method="post">
                <h2 class="signin-heading">Please sign in</h2>
                <ul>
                {% for message in get_flashed_messages() %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul> 
                <p>
                <input type="text" class="form-control" placeholder="Email" name="email"> <br>
                <input type="password" class="form-control" placeholder="Password" name="password"> </br>
                </p>
                Not a registered user? <a href="{{ url_for("register") }}">Register</a> 
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In">
            </form>
        </div>
{% endblock %}