{% extends 'base.html' %}
{% block body %}
<h1>Share Rides Using Social Network</h1> </br>
    <div>
        <P> Your start address is : <strong> {{ start_addr }} </strong></P>
        <p> Your destination address is : <strong> {{ dest_addr }} </strong></p>
        <div>
            {% if possible_matches == [] %}
                 <h2 style="color:#FF0000;"> There are no matches in the system at this time.</h2>
            {% else %}
                <h2 style="color:#3B9C46"> <strong>Following Users matched your Carpool profile </strong></h2>
                <table class="table table-bordered" width:70%;>
                    <tr>
                        <th>User</th>
                        <th>Distance from Origin (miles) </th>
                        <th>Distance from Destination (miles)</th>
                        {% for row in possible_matches %}
                            <tr> 
                                <td><a href="/users/{{user}}"> {{ row[0] }} </a></td>
                                <td> {{ '%0.2f' | format((row[1][0])/1609.34|float) }} </td>
                                <td> {{ '%0.2f' | format((row[1][1])/1609.34|float) }} </td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
                </div>
            <a href="{{url_for("map") }}"> Map Distribution </a>
        </div>
            {% endif %}
        </div>
    </div>      
{% endblock %}