{% extends 'base.html' %}
{% block body %}
<h1>Share Rides Using Social Network</h1>
        <P> Your start address is : {{ start_addr_id }} </P>
        <p> Your destination address is : {{ dest_addr_id }} </p>
        <p>Following Users matched your Carpool profile</p>
        <ul>
        {% for row in possible_matches %}
            <li> User: {{ row }} ,    start point distance {{ possible_matches[row][0]/1609 }} miles  ,    end point distance is {{ possible_matches[row][1]/1609}} miles </li>
        {% endfor %}       
        </ul>

       
{% endblock %}