{% extends 'base.html' %}
{% block body %}
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 90% }
      body { height: 100%; margin: 0; padding: 0; }
      #map-canvas { height: 100%; width: 80%; }
      .left-div {
        float: left;
        width: 300;
        height: 20px;
        margin-right: 8px;
        margin-left: 8px;
      }
      .right-div {
        margin-left: 20px;
        margin-right: 20px;
        float: right;
        margin-bottom: 20px;

        
      }​
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key= {{ API_KEY }} &sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/'
        myLatlng = new google.maps.LatLng({{ lat }}, {{ lng }});
        var mapOptions = {
          center: myLatlng ,
          zoom:10
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var myDestAddresses = [];
        {% for address in dest_latlng_list %}
           myDestAddresses.push(new google.maps.Marker({
                                                   position: new google.maps.LatLng( {{ address[0] }}, {{ address[1] }}),
                                                    icon: iconBase + 'parking_lot_maps.png',
                                                   title: "{{ reverse_geocode(latlng="%r,%r" % (address[0],address[1]),location_type="ROOFTOP",result_type="street_address",sensor="true") |safe}}"})
          );
        {% endfor %}

        var myStartAddresses = [];
        {% for address in start_latlng_list %}
           myDestAddresses.push(new google.maps.Marker({
                                                   position: new google.maps.LatLng( {{ address[0] }}, {{ address[1] }}),
                                                   title: "{{ reverse_geocode(latlng="%r,%r" % (address[0],address[1]),location_type="ROOFTOP",result_type="street_address",sensor="true") |safe}}"})
          );
        {% endfor %}

        for (var i in myDestAddresses){
        // To add the marker to the map, call setMap();
          myDestAddresses[i].setMap(map);
        }

        for (var i in myStartAddresses){
        // To add the marker to the map, call setMap();
          myStartAddresses[i].setMap(map);
        }


        }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div class="right-div" id="map-canvas"/> </div>
    <div class="left-div">
      <ul> 
        <li><a href="/commutelist">My current commute Details</a></li>
        <li><a href="/signup">Enter your commute Details</a></li>
      </ul>
    </div>
  </body>
{% endblock %}