<html>
<style>
    .odd {
        background-color:#CEECF5;
    }
    .even {
        background-color:#A9F5A9;
    }
</style>

<body>
<!--- TODO: print something really simple here and see if it renders -->
<h2>Movie ratings for User {{ userid }}</h2>
{% for rating in movie_ratings %}
<div class="{{ loop.cycle('odd', 'even') }}">Movie: <a href="/movies/{{ rating[2] }}"><strong><em>{{ rating[0] }}</em></strong></a>  |||  Rating: <strong>{{ rating[1] }}</strong><br></div>
{% endfor %}
</body>
</html>